p {
font-family:"trebuchet ms",sans-serif;
font-size:80%;
}
form {
background-color:#F5F5F5;
padding:10px;
width:350px;
}
label {
font-family:"trebuchet ms",sans-serif;
font-weight:bold
}
input {
border:1px solid black;
background-color:red;
font-family:"trebuchet ms",sans-serif;
color:white;
}
select, option {
background-color:red;
color:white;
}
textarea {
border:1px solid black;
background-color:red;
font-family:"trebuchet ms",sans-serif;
color:white;
}
input.bouton {
border:2px outset red;
font-weight:bold;
cursor:pointer;
}
input.bouton:hover {
background-color:white;
color:red;
}
input.bouton:active {
border:2px inset red;
background-color:red;
color:white;
}